{% extends 'base.html' %}
{% load static %}

{% block links %}

<link type="text/css" href="{% static 'costs/css/costs.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<table class="costs_table">
    <tr>
        <th>Title</th>
        <th>Frequency</th>
        <th>Recipient</th>
        <th>Price</th>
    </tr>

    {% for cost in costs %}

    <tr>
        <td>{{ cost.title }}</td>
        <td>{{ cost.frequency }}</td>
        <td>{{ cost.recipient }}</td>
        <td>{{ cost.price }}</td>
    </tr>

    {% endfor %}
</table>

{% endblock %}